.sale_all{
    display: flex;
    margin: 20px 0 50px 0;
}
.sale_item1 {
    width: 655px;
    height: 370px;
    background: gray;
}

.sale_item2 {
    width: 655px;
    height: 370px;
    background: gray;
    margin-top: 30px;

}

.sale_item3 {
    width: 655px;
    height: 370px;
    background: gray;
    margin-left: 30px;
}

.sale_item4 {
    width: 655px;
    height: 370px;
    background: gray;
    margin-top: 30px;
    margin-left: 30px;
}