.slider {
    position: relative;
    height: 700px;
    margin: 30px auto 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.img {
    width: 100%;
}

.slider-img {
    position: absolute;
    width: 100%;
    height: 700px;
    transition: all 0.8s;
    background-size: cover;
}

.slider-img-prev {
    transform: translateX(-100%);
}

.slider-img-next {
    transform: translateX(100%);
}